@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@{ 
    var rootNode = Model.Content.AncestorOrSelf(1);
    var menu = Vista.Docs.App.Navigation.SideNavigationBuilder.BuildMenu(rootNode, Model.Content);
    var menuJson = JsonConvert.SerializeObject(menu, new JsonSerializerSettings
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver()
    });
}
<script type="text/javascript">
    var sideMenuJson = @Html.Raw(menuJson);
</script>
<h1>Documentation</h1>
<div id="side-menu-tree"></div>