<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT swaggerUIPage ANY>
<!ATTLIST swaggerUIPage id ID #REQUIRED>
<!ELEMENT markdownPageSingle1 ANY>
<!ATTLIST markdownPageSingle1 id ID #REQUIRED>
<!ELEMENT aPIHome ANY>
<!ATTLIST aPIHome id ID #REQUIRED>
<!ELEMENT markdownPageSingle ANY>
<!ATTLIST markdownPageSingle id ID #REQUIRED>
<!ELEMENT siteHome ANY>
<!ATTLIST siteHome id ID #REQUIRED>
]>
<root id="-1">
  <siteHome id="1057" key="bf28caee-a130-4874-8da1-d09dc1571e32" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-10-07T22:45:43" updateDate="2017-10-07T23:54:04" nodeName="docs.vista.co/en" urlName="docsvistacoen" path="-1,1057" isDoc="" nodeType="1056" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1055" nodeTypeAlias="siteHome">
    <content><![CDATA[Welcome to Vista API site
News:

2017-03-15: The Vista Connect documentation has been Swaggerified in Connect 4.5.7.

The new Connect Swagger documentation is now available here on our API site for the REST services.
These will also be available for your local environment as part of the Connect 4.5.7 installs.
Please ensure PublishMetadata = "Y" in your WSVistaWebClient.ini

For older installs, the previous "SandCastle" documentation is still available on this site.
2016-12-31: SOAP services to be removed from Vista Connect

From release 4.5.8 Preview 1 (due late April 2017), except for Priority 1 (system down) bugs, Vista will no longer 
maintain the SOAP services in Vista Connect. The SOAP services will then be removed altogether in versions released 
from the fourth quarter of 2017. This is part of a plan to simplify Vista Connect and stay at the forefront of web-service 
technology.

What does this mean for my cinema? 
Third parties whose applications integrate with your Vista system through Vista Connect will need to change all SOAP 
calls to REST. They will also need to move their data-related calls from the DataService to the OData service. 
Please contact your account manager for advice about this. 

What do I need to do? 
Act soon! Identify the third-party applications that are integrated with your system through Vista Connect, and have 
their developers update them to use REST calls instead of SOAP. For most development companies, this will be a 
simple change, but we recommend allowing plenty of time. 

Note: We no longer support direct integration with the Web Client DLL. 

This Web Site provides a test access point for third-party software integration testing, as well as API documentation.

Click on the tabs above to navigate through the list of services for this site.

For any technical questions related to integration development, please refer to our Development forum]]></content>
    <markdownPageSingle id="1061" key="c0fe737b-e734-4f0c-a049-8a42925d9686" parentID="1057" level="2" creatorID="0" sortOrder="0" createDate="2017-10-07T22:59:02" updateDate="2017-10-08T22:14:44" nodeName="Vista APIs" urlName="vista-apis" path="-1,1057,1061" isDoc="" nodeType="1053" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1052" nodeTypeAlias="markdownPageSingle">
      <hideOnMenu>0</hideOnMenu>
      <expansionHeaderOnly>1</expansionHeaderOnly>
      <markdownPageSingle id="1068" key="abea6e7b-cb56-491f-84db-22d43efa5b0a" parentID="1061" level="3" creatorID="0" sortOrder="4" createDate="2017-10-07T23:05:24" updateDate="2017-10-08T22:14:51" nodeName="4.5.8" urlName="458" path="-1,1057,1061,1068" isDoc="" nodeType="1053" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1052" nodeTypeAlias="markdownPageSingle">
        <hideOnMenu>0</hideOnMenu>
        <expansionHeaderOnly>1</expansionHeaderOnly>
        <content><![CDATA[Vista 4.5.8 was released on the 1st of September 2017.
]]></content>
        <aPIHome id="1064" key="01e68a85-a857-4925-b891-1e0681b8e4b9" parentID="1068" level="4" creatorID="0" sortOrder="1" createDate="2017-10-07T23:02:53" updateDate="2017-10-08T23:12:49" nodeName="Connect" urlName="connect" path="-1,1057,1061,1068,1064" isDoc="" nodeType="1060" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1059" nodeTypeAlias="aPIHome">
          <hideOnMenu>0</hideOnMenu>
          <expansionHeaderOnly>1</expansionHeaderOnly>
          <content><![CDATA[Connect is da bomb yo!]]></content>
          <markdownPageSingle id="1069" key="b038332b-0041-45c9-8ad1-f019b2cb8705" parentID="1064" level="5" creatorID="0" sortOrder="0" createDate="2017-10-07T23:06:38" updateDate="2017-10-08T23:12:39" nodeName="Connect Overview" urlName="connect-overview" path="-1,1057,1061,1068,1064,1069" isDoc="" nodeType="1053" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1052" nodeTypeAlias="markdownPageSingle">
            <hideOnMenu>0</hideOnMenu>
            <expansionHeaderOnly>0</expansionHeaderOnly>
            <markdownContent><![CDATA[Connect is da domb yo!]]></markdownContent>
          </markdownPageSingle>
          <markdownPageSingle id="1070" key="f4957982-78bb-4de6-86b0-ff714d28baa6" parentID="1064" level="5" creatorID="0" sortOrder="1" createDate="2017-10-07T23:06:53" updateDate="2017-10-07T23:21:37" nodeName="Pricing &amp; Promotions" urlName="pricing-promotions" path="-1,1057,1061,1068,1064,1070" isDoc="" nodeType="1053" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1052" nodeTypeAlias="markdownPageSingle">
            <content><![CDATA[Pricing & Promotion Be Super Complex Yo!

We support:

 1. Default Pricing 
 2. Override Pricing Discounts
 3. Promotions Deals Vista
 4. Pricing Platform Pricing

]]></content>
          </markdownPageSingle>
          <markdownPageSingle id="1077" key="fa87e51b-3d57-42fb-bead-66c95b94fe08" parentID="1064" level="5" creatorID="0" sortOrder="2" createDate="2017-10-07T23:15:13" updateDate="2017-10-08T22:52:39" nodeName="Connect API Reference" urlName="connect-api-reference" path="-1,1057,1061,1068,1064,1077" isDoc="" nodeType="1053" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1052" nodeTypeAlias="markdownPageSingle">
            <hideOnMenu>0</hideOnMenu>
            <expansionHeaderOnly>0</expansionHeaderOnly>
            <swaggerUIPage id="1078" key="9425d79e-cd8c-453b-9760-68545b5aa19d" parentID="1077" level="6" creatorID="0" sortOrder="0" createDate="2017-10-07T23:15:43" updateDate="2017-10-08T22:42:28" nodeName="Reference Data Service" urlName="reference-data-service" path="-1,1057,1061,1068,1064,1077,1078" isDoc="" nodeType="1075" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1074" nodeTypeAlias="swaggerUIPage">
              <serviceTitle><![CDATA[Reference Data Service]]></serviceTitle>
            </swaggerUIPage>
            <swaggerUIPage id="1079" key="a6142a25-4b9b-4ee4-80f3-07f0a2210cec" parentID="1077" level="6" creatorID="0" sortOrder="1" createDate="2017-10-07T23:15:59" updateDate="2017-10-07T23:15:59" nodeName="Ticketing Service" urlName="ticketing-service" path="-1,1057,1061,1068,1064,1077,1079" isDoc="" nodeType="1075" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1074" nodeTypeAlias="swaggerUIPage">
              <serviceTitle><![CDATA[Ticketing Service]]></serviceTitle>
            </swaggerUIPage>
            <swaggerUIPage id="1080" key="0f5811f0-b09b-49ba-aa45-0b13c9b8f6a2" parentID="1077" level="6" creatorID="0" sortOrder="2" createDate="2017-10-07T23:16:17" updateDate="2017-10-07T23:16:17" nodeName="Booking Service" urlName="booking-service" path="-1,1057,1061,1068,1064,1077,1080" isDoc="" nodeType="1075" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1074" nodeTypeAlias="swaggerUIPage">
              <serviceTitle><![CDATA[Booking Service]]></serviceTitle>
            </swaggerUIPage>
            <swaggerUIPage id="1081" key="6b34900c-de14-4244-a873-5b7097080e76" parentID="1077" level="6" creatorID="0" sortOrder="3" createDate="2017-10-07T23:16:30" updateDate="2017-10-07T23:16:30" nodeName="Cinema Transaction Service" urlName="cinema-transaction-service" path="-1,1057,1061,1068,1064,1077,1081" isDoc="" nodeType="1075" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1074" nodeTypeAlias="swaggerUIPage">
              <serviceTitle><![CDATA[Cinema Transaction Service]]></serviceTitle>
            </swaggerUIPage>
            <swaggerUIPage id="1082" key="197f90ec-56cf-41a2-bf72-578f120371ed" parentID="1077" level="6" creatorID="0" sortOrder="4" createDate="2017-10-07T23:16:41" updateDate="2017-10-07T23:16:41" nodeName="Loyalty Service" urlName="loyalty-service" path="-1,1057,1061,1068,1064,1077,1082" isDoc="" nodeType="1075" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1074" nodeTypeAlias="swaggerUIPage">
              <serviceTitle><![CDATA[Loyalty Service]]></serviceTitle>
            </swaggerUIPage>
          </markdownPageSingle>
        </aPIHome>
        <aPIHome id="1065" key="f7e9afea-cc5e-4df7-b1eb-cdd288ad43c9" parentID="1068" level="4" creatorID="0" sortOrder="2" createDate="2017-10-07T23:03:19" updateDate="2017-10-07T23:05:46" nodeName="Vouchers &amp; Gift Cards" urlName="vouchers-gift-cards" path="-1,1057,1061,1068,1065" isDoc="" nodeType="1060" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1059" nodeTypeAlias="aPIHome" />
        <aPIHome id="1066" key="7c463b31-f416-495f-b412-a7d86270f54b" parentID="1068" level="4" creatorID="0" sortOrder="3" createDate="2017-10-07T23:03:39" updateDate="2017-10-07T23:05:54" nodeName="Loyalty" urlName="loyalty" path="-1,1057,1061,1068,1066" isDoc="" nodeType="1060" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1059" nodeTypeAlias="aPIHome" />
        <aPIHome id="1067" key="8e2be46d-ef44-4b99-960f-6a6d4cb5fc1f" parentID="1068" level="4" creatorID="0" sortOrder="4" createDate="2017-10-07T23:03:49" updateDate="2017-10-07T23:06:04" nodeName="Sales Server" urlName="sales-server" path="-1,1057,1061,1068,1067" isDoc="" nodeType="1060" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1059" nodeTypeAlias="aPIHome" />
      </markdownPageSingle>
    </markdownPageSingle>
    <markdownPageSingle id="1062" key="85dad015-1808-45b6-9f69-cad8a02022e7" parentID="1057" level="2" creatorID="0" sortOrder="1" createDate="2017-10-07T22:59:43" updateDate="2017-10-07T22:59:43" nodeName="Vista Product Guides" urlName="vista-product-guides" path="-1,1057,1062" isDoc="" nodeType="1053" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1052" nodeTypeAlias="markdownPageSingle" />
    <markdownPageSingle id="1063" key="6eef89d6-fbbf-4910-bac9-14e7357ea189" parentID="1057" level="2" creatorID="0" sortOrder="2" createDate="2017-10-07T23:00:20" updateDate="2017-10-07T23:00:20" nodeName="Demo Applications" urlName="demo-applications" path="-1,1057,1063" isDoc="" nodeType="1053" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1052" nodeTypeAlias="markdownPageSingle" />
  </siteHome>
  <siteHome id="1058" key="0a2b7758-08f9-4407-b1db-6018a6556af0" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-10-07T22:50:11" updateDate="2017-10-07T22:50:11" nodeName="docs.vista.co/fr" urlName="docsvistacofr" path="-1,1058" isDoc="" nodeType="1056" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1055" nodeTypeAlias="siteHome" />
</root>