<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT newsItem ANY>
<!ATTLIST newsItem id ID #REQUIRED>
<!ELEMENT newsFeed ANY>
<!ATTLIST newsFeed id ID #REQUIRED>
<!ELEMENT swaggerUIPage ANY>
<!ATTLIST swaggerUIPage id ID #REQUIRED>
<!ELEMENT markdownPageSingle1 ANY>
<!ATTLIST markdownPageSingle1 id ID #REQUIRED>
<!ELEMENT aPIHome ANY>
<!ATTLIST aPIHome id ID #REQUIRED>
<!ELEMENT markdownPageSingle ANY>
<!ATTLIST markdownPageSingle id ID #REQUIRED>
<!ELEMENT siteHome ANY>
<!ATTLIST siteHome id ID #REQUIRED>
]>
<root id="-1">
  <siteHome id="1057" key="bf28caee-a130-4874-8da1-d09dc1571e32" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-10-07T22:45:43" updateDate="2017-10-10T22:01:43" nodeName="docs.vista.co/en" urlName="docsvistacoen" path="-1,1057" isDoc="" nodeType="1056" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1055" nodeTypeAlias="siteHome">
    <content><![CDATA[Welcome to Vista API site. This version is running Umbraco.
]]></content>
    <markdownPageSingle id="1061" key="c0fe737b-e734-4f0c-a049-8a42925d9686" parentID="1057" level="2" creatorID="0" sortOrder="0" createDate="2017-10-07T22:59:02" updateDate="2017-10-08T22:14:44" nodeName="Vista APIs" urlName="vista-apis" path="-1,1057,1061" isDoc="" nodeType="1053" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1052" nodeTypeAlias="markdownPageSingle">
      <hideOnMenu>0</hideOnMenu>
      <expansionHeaderOnly>1</expansionHeaderOnly>
      <markdownPageSingle id="1092" key="1ca79343-fdd6-41f7-ae32-5df6f6252504" parentID="1061" level="3" creatorID="0" sortOrder="0" createDate="2017-10-08T23:50:02" updateDate="2017-10-08T23:50:58" nodeName="5.0.0 Preview" urlName="500-preview" path="-1,1057,1061,1092" isDoc="" nodeType="1053" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1052" nodeTypeAlias="markdownPageSingle">
        <hideOnMenu>0</hideOnMenu>
        <expansionHeaderOnly>1</expansionHeaderOnly>
        <aPIHome id="1093" key="b1a92eba-e917-4d46-a9e7-c3291a5e0c0c" parentID="1092" level="4" creatorID="0" sortOrder="0" createDate="2017-10-08T23:50:02" updateDate="2017-10-08T23:51:15" nodeName="Connect" urlName="connect" path="-1,1057,1061,1092,1093" isDoc="" nodeType="1060" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1059" nodeTypeAlias="aPIHome">
          <hideOnMenu>0</hideOnMenu>
          <expansionHeaderOnly>1</expansionHeaderOnly>
          <content><![CDATA[Connect is da bomb yo!]]></content>
          <markdownPageSingle id="1094" key="edf40ed2-fd30-4a9e-b47b-4369b8ca884f" parentID="1093" level="5" creatorID="0" sortOrder="0" createDate="2017-10-08T23:50:02" updateDate="2017-10-10T23:31:42" nodeName="Connect Overview" urlName="connect-overview" path="-1,1057,1061,1092,1093,1094" isDoc="" nodeType="1053" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1052" nodeTypeAlias="markdownPageSingle">
            <hideOnMenu>0</hideOnMenu>
            <expansionHeaderOnly>0</expansionHeaderOnly>
            <markdownContent><![CDATA[Introduction
------------

The Connect API provides both data and transactional access to an entire cinema circuit. Operating over its own database and through direct interaction with Cinema bla bla bla.

Security
--------

All requests to the Connect API require a Connect API Token to be passed in the HTTP header. This token is used to identify the caller as a specific client and apply the appopriate authorisation based on that client's specific permission configuration.

SOAP API
--------

The SOAP Connect API has been obsoleted since Connect 4.5.4 and will no longer ship with Connect as of Connect 5.0.0
V1 vs v2

A V2 of Connect REST API ships with Connect 4.5.8 and later. This is not fully functional but will grow over time. In the meantime client's may need to consume V1 and V2 concurrently. Details of both APIs are available from menu on this page.

Multi-Tenancy
-------------

In hosted Connect environments more than one circuit can be served by a single Connect instance. This is known as a muli-tenanted environment. When interacting with a multi-tenanted connect a Tenant Identifier must be supplied along with the API Token to ensure the request is handled by the appropriate circuit.]]></markdownContent>
          </markdownPageSingle>
          <markdownPageSingle id="1095" key="fc74b3d0-8890-45c6-a054-ad0bd6fbd9c6" parentID="1093" level="5" creatorID="0" sortOrder="1" createDate="2017-10-08T23:50:02" updateDate="2017-10-08T23:51:15" nodeName="Pricing &amp; Promotions" urlName="pricing-promotions" path="-1,1057,1061,1092,1093,1095" isDoc="" nodeType="1053" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1052" nodeTypeAlias="markdownPageSingle">
            <hideOnMenu>0</hideOnMenu>
            <expansionHeaderOnly>0</expansionHeaderOnly>
          </markdownPageSingle>
          <markdownPageSingle id="1096" key="3b80dde0-1880-4c79-b147-fe0f092d1f17" parentID="1093" level="5" creatorID="0" sortOrder="2" createDate="2017-10-08T23:50:02" updateDate="2017-10-08T23:51:15" nodeName="Connect API Reference" urlName="connect-api-reference" path="-1,1057,1061,1092,1093,1096" isDoc="" nodeType="1053" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1052" nodeTypeAlias="markdownPageSingle">
            <hideOnMenu>0</hideOnMenu>
            <expansionHeaderOnly>0</expansionHeaderOnly>
            <swaggerUIPage id="1097" key="3dfba560-956b-4b20-bb8f-da65112f24bb" parentID="1096" level="6" creatorID="0" sortOrder="0" createDate="2017-10-08T23:50:02" updateDate="2017-10-10T23:27:33" nodeName="Reference Data Service" urlName="reference-data-service" path="-1,1057,1061,1092,1093,1096,1097" isDoc="" nodeType="1075" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1074" nodeTypeAlias="swaggerUIPage">
              <serviceTitle><![CDATA[Reference Data Service]]></serviceTitle>
              <swaggerFileURL><![CDATA[/swagger/connect/5.0.0/connectv1-swagger-5.0.0.yaml]]></swaggerFileURL>
              <operationFilter><![CDATA[Data]]></operationFilter>
            </swaggerUIPage>
            <swaggerUIPage id="1098" key="02c54787-420d-462d-a41f-9521f8cd4ac9" parentID="1096" level="6" creatorID="0" sortOrder="1" createDate="2017-10-08T23:50:02" updateDate="2017-10-10T23:18:50" nodeName="Ticketing Service" urlName="ticketing-service" path="-1,1057,1061,1092,1093,1096,1098" isDoc="" nodeType="1075" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1074" nodeTypeAlias="swaggerUIPage">
              <serviceTitle><![CDATA[Ticketing Service]]></serviceTitle>
              <swaggerFileURL><![CDATA[/swagger/connect/5.0.0/connectv1-swagger-5.0.0.yaml]]></swaggerFileURL>
              <operationFilter><![CDATA[Ticketing]]></operationFilter>
            </swaggerUIPage>
            <swaggerUIPage id="1099" key="229412e3-66ad-4d1f-9487-a49c4073d53b" parentID="1096" level="6" creatorID="0" sortOrder="2" createDate="2017-10-08T23:50:02" updateDate="2017-10-10T23:19:04" nodeName="Booking Service" urlName="booking-service" path="-1,1057,1061,1092,1093,1096,1099" isDoc="" nodeType="1075" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1074" nodeTypeAlias="swaggerUIPage">
              <serviceTitle><![CDATA[Booking Service]]></serviceTitle>
              <swaggerFileURL><![CDATA[/swagger/connect/5.0.0/connectv1-swagger-5.0.0.yaml]]></swaggerFileURL>
              <operationFilter><![CDATA[Booking]]></operationFilter>
            </swaggerUIPage>
            <swaggerUIPage id="1100" key="cb614a94-65b5-475e-9927-d64d72753771" parentID="1096" level="6" creatorID="0" sortOrder="3" createDate="2017-10-08T23:50:02" updateDate="2017-10-10T23:19:21" nodeName="Cinema Transaction Service" urlName="cinema-transaction-service" path="-1,1057,1061,1092,1093,1096,1100" isDoc="" nodeType="1075" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1074" nodeTypeAlias="swaggerUIPage">
              <serviceTitle><![CDATA[Cinema Transaction Service]]></serviceTitle>
              <swaggerFileURL><![CDATA[/swagger/connect/5.0.0/connectv1-swagger-5.0.0.yaml]]></swaggerFileURL>
              <operationFilter><![CDATA[Transactions]]></operationFilter>
            </swaggerUIPage>
            <swaggerUIPage id="1101" key="f02cbb40-85c4-40da-9157-1a0c276d5f59" parentID="1096" level="6" creatorID="0" sortOrder="4" createDate="2017-10-08T23:50:02" updateDate="2017-10-10T23:19:11" nodeName="Loyalty Service" urlName="loyalty-service" path="-1,1057,1061,1092,1093,1096,1101" isDoc="" nodeType="1075" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1074" nodeTypeAlias="swaggerUIPage">
              <serviceTitle><![CDATA[Loyalty Service]]></serviceTitle>
              <swaggerFileURL><![CDATA[/swagger/connect/5.0.0/connectv1-swagger-5.0.0.yaml]]></swaggerFileURL>
              <operationFilter><![CDATA[Loyalty]]></operationFilter>
            </swaggerUIPage>
          </markdownPageSingle>
        </aPIHome>
      </markdownPageSingle>
      <markdownPageSingle id="1068" key="abea6e7b-cb56-491f-84db-22d43efa5b0a" parentID="1061" level="3" creatorID="0" sortOrder="1" createDate="2017-10-07T23:05:24" updateDate="2017-10-08T23:50:58" nodeName="4.5.8" urlName="458" path="-1,1057,1061,1068" isDoc="" nodeType="1053" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1052" nodeTypeAlias="markdownPageSingle">
        <hideOnMenu>0</hideOnMenu>
        <expansionHeaderOnly>1</expansionHeaderOnly>
        <aPIHome id="1064" key="01e68a85-a857-4925-b891-1e0681b8e4b9" parentID="1068" level="4" creatorID="0" sortOrder="1" createDate="2017-10-07T23:02:53" updateDate="2017-10-08T23:12:49" nodeName="Connect" urlName="connect" path="-1,1057,1061,1068,1064" isDoc="" nodeType="1060" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1059" nodeTypeAlias="aPIHome">
          <hideOnMenu>0</hideOnMenu>
          <expansionHeaderOnly>1</expansionHeaderOnly>
          <content><![CDATA[Connect is da bomb yo!]]></content>
          <markdownPageSingle id="1069" key="b038332b-0041-45c9-8ad1-f019b2cb8705" parentID="1064" level="5" creatorID="0" sortOrder="0" createDate="2017-10-07T23:06:38" updateDate="2017-10-08T23:12:39" nodeName="Connect Overview" urlName="connect-overview" path="-1,1057,1061,1068,1064,1069" isDoc="" nodeType="1053" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1052" nodeTypeAlias="markdownPageSingle">
            <hideOnMenu>0</hideOnMenu>
            <expansionHeaderOnly>0</expansionHeaderOnly>
            <markdownContent><![CDATA[Connect is da domb yo!]]></markdownContent>
          </markdownPageSingle>
          <markdownPageSingle id="1070" key="f4957982-78bb-4de6-86b0-ff714d28baa6" parentID="1064" level="5" creatorID="0" sortOrder="1" createDate="2017-10-07T23:06:53" updateDate="2017-10-07T23:21:37" nodeName="Pricing &amp; Promotions" urlName="pricing-promotions" path="-1,1057,1061,1068,1064,1070" isDoc="" nodeType="1053" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1052" nodeTypeAlias="markdownPageSingle">
            <content><![CDATA[Pricing & Promotion Be Super Complex Yo!

We support:

 1. Default Pricing 
 2. Override Pricing Discounts
 3. Promotions Deals Vista
 4. Pricing Platform Pricing

]]></content>
          </markdownPageSingle>
          <markdownPageSingle id="1077" key="fa87e51b-3d57-42fb-bead-66c95b94fe08" parentID="1064" level="5" creatorID="0" sortOrder="2" createDate="2017-10-07T23:15:13" updateDate="2017-10-08T22:52:39" nodeName="Connect API Reference" urlName="connect-api-reference" path="-1,1057,1061,1068,1064,1077" isDoc="" nodeType="1053" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1052" nodeTypeAlias="markdownPageSingle">
            <hideOnMenu>0</hideOnMenu>
            <expansionHeaderOnly>0</expansionHeaderOnly>
            <swaggerUIPage id="1078" key="9425d79e-cd8c-453b-9760-68545b5aa19d" parentID="1077" level="6" creatorID="0" sortOrder="0" createDate="2017-10-07T23:15:43" updateDate="2017-10-08T22:42:28" nodeName="Reference Data Service" urlName="reference-data-service" path="-1,1057,1061,1068,1064,1077,1078" isDoc="" nodeType="1075" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1074" nodeTypeAlias="swaggerUIPage">
              <serviceTitle><![CDATA[Reference Data Service]]></serviceTitle>
            </swaggerUIPage>
            <swaggerUIPage id="1079" key="a6142a25-4b9b-4ee4-80f3-07f0a2210cec" parentID="1077" level="6" creatorID="0" sortOrder="1" createDate="2017-10-07T23:15:59" updateDate="2017-10-07T23:15:59" nodeName="Ticketing Service" urlName="ticketing-service" path="-1,1057,1061,1068,1064,1077,1079" isDoc="" nodeType="1075" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1074" nodeTypeAlias="swaggerUIPage">
              <serviceTitle><![CDATA[Ticketing Service]]></serviceTitle>
            </swaggerUIPage>
            <swaggerUIPage id="1080" key="0f5811f0-b09b-49ba-aa45-0b13c9b8f6a2" parentID="1077" level="6" creatorID="0" sortOrder="2" createDate="2017-10-07T23:16:17" updateDate="2017-10-07T23:16:17" nodeName="Booking Service" urlName="booking-service" path="-1,1057,1061,1068,1064,1077,1080" isDoc="" nodeType="1075" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1074" nodeTypeAlias="swaggerUIPage">
              <serviceTitle><![CDATA[Booking Service]]></serviceTitle>
            </swaggerUIPage>
            <swaggerUIPage id="1081" key="6b34900c-de14-4244-a873-5b7097080e76" parentID="1077" level="6" creatorID="0" sortOrder="3" createDate="2017-10-07T23:16:30" updateDate="2017-10-07T23:16:30" nodeName="Cinema Transaction Service" urlName="cinema-transaction-service" path="-1,1057,1061,1068,1064,1077,1081" isDoc="" nodeType="1075" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1074" nodeTypeAlias="swaggerUIPage">
              <serviceTitle><![CDATA[Cinema Transaction Service]]></serviceTitle>
            </swaggerUIPage>
            <swaggerUIPage id="1082" key="197f90ec-56cf-41a2-bf72-578f120371ed" parentID="1077" level="6" creatorID="0" sortOrder="4" createDate="2017-10-07T23:16:41" updateDate="2017-10-07T23:16:41" nodeName="Loyalty Service" urlName="loyalty-service" path="-1,1057,1061,1068,1064,1077,1082" isDoc="" nodeType="1075" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1074" nodeTypeAlias="swaggerUIPage">
              <serviceTitle><![CDATA[Loyalty Service]]></serviceTitle>
            </swaggerUIPage>
          </markdownPageSingle>
        </aPIHome>
        <aPIHome id="1065" key="f7e9afea-cc5e-4df7-b1eb-cdd288ad43c9" parentID="1068" level="4" creatorID="0" sortOrder="2" createDate="2017-10-07T23:03:19" updateDate="2017-10-07T23:05:46" nodeName="Vouchers &amp; Gift Cards" urlName="vouchers-gift-cards" path="-1,1057,1061,1068,1065" isDoc="" nodeType="1060" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1059" nodeTypeAlias="aPIHome" />
        <aPIHome id="1066" key="7c463b31-f416-495f-b412-a7d86270f54b" parentID="1068" level="4" creatorID="0" sortOrder="3" createDate="2017-10-07T23:03:39" updateDate="2017-10-07T23:05:54" nodeName="Loyalty" urlName="loyalty" path="-1,1057,1061,1068,1066" isDoc="" nodeType="1060" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1059" nodeTypeAlias="aPIHome" />
        <aPIHome id="1067" key="8e2be46d-ef44-4b99-960f-6a6d4cb5fc1f" parentID="1068" level="4" creatorID="0" sortOrder="4" createDate="2017-10-07T23:03:49" updateDate="2017-10-07T23:06:04" nodeName="Sales Server" urlName="sales-server" path="-1,1057,1061,1068,1067" isDoc="" nodeType="1060" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1059" nodeTypeAlias="aPIHome" />
      </markdownPageSingle>
    </markdownPageSingle>
    <markdownPageSingle id="1062" key="85dad015-1808-45b6-9f69-cad8a02022e7" parentID="1057" level="2" creatorID="0" sortOrder="1" createDate="2017-10-07T22:59:43" updateDate="2017-10-07T22:59:43" nodeName="Vista Product Guides" urlName="vista-product-guides" path="-1,1057,1062" isDoc="" nodeType="1053" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1052" nodeTypeAlias="markdownPageSingle" />
    <markdownPageSingle id="1063" key="6eef89d6-fbbf-4910-bac9-14e7357ea189" parentID="1057" level="2" creatorID="0" sortOrder="2" createDate="2017-10-07T23:00:20" updateDate="2017-10-09T07:27:40" nodeName="Demo Applications" urlName="demo-applications" path="-1,1057,1063" isDoc="" nodeType="1053" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1052" nodeTypeAlias="markdownPageSingle">
      <hideOnMenu>0</hideOnMenu>
      <expansionHeaderOnly>0</expansionHeaderOnly>
      <markdownContent><![CDATA[A list of URLs for Vista Demos

 - Demo Vista Web
 - Demo Vista Web Mobile
 - Demo Performance Dashboard (Please contact Vista for the dashboard
   login)]]></markdownContent>
    </markdownPageSingle>
    <markdownPageSingle id="1105" key="8066e933-5cb9-4bb3-9f1d-228e3dcb3ad0" parentID="1057" level="2" creatorID="0" sortOrder="3" createDate="2017-10-09T07:28:25" updateDate="2017-10-09T07:28:25" nodeName="Example Services" urlName="example-services" path="-1,1057,1105" isDoc="" nodeType="1053" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1052" nodeTypeAlias="markdownPageSingle">
      <hideOnMenu>0</hideOnMenu>
      <expansionHeaderOnly>0</expansionHeaderOnly>
      <markdownContent><![CDATA[We provide several test services that can be used if you do not have an installation of these web services to test against.
The Vista recommendation is to use the REST services for any new development

Web Client Webservice: https://api.vista.co.nz/WSVistaWebClient/
If you wish to test the Connect authentication, please email api@vista.co for a token. The following Web Client Webservice has authentication turned on: https://api.vista.co.nz/WSVistaWebClient4576/
Ticketing Service
Example REST URL: https://api.vista.co.nz/WSVistaWebClient/RESTTicketing.svc
OData Service
Example URL: https://api.vista.co.nz/WSVistaWebClient/OData.svc
e.g. GetCinemas: https://api.vista.co.nz/WSVistaWebClient/OData.svc/Cinemas
Data Service
REST Example URL: https://api.vista.co.nz/WSVistaWebClient/RESTData.svc
e.g. GetCinemas: https://api.vista.co.nz/WSVistaWebClient/RESTData.svc/cinemas - Note this particular method is now obsolete and has been superceded by the OData service (above).
LoyaltyService
REST Example URL: https://api.vista.co.nz/WSVistaWebClient/RESTLoyalty.svc
BookingService
REST Example URL: https://api.vista.co.nz/WSVistaWebClient/RESTBooking.svc
UtilityService
REST Example URL: https://api.vista.co.nz/WSVistaWebClient/RESTUtility.svc
TabService
REST Example URL: https://api.vista.co.nz/WSVistaWebClient/RESTTab.svc

Sales Server Webservice: https://api.vista.co.nz/WSVistaSalesSrvr/
Projection Webservice: http://api.vista.co.nz/WSVistaProjection/Service.svc/
Voucher Order (WSVistaVoucherManagement) Webservice: https://api.vista.co.nz/WSVistaVoucherManagement/
Voucher OVV (WSVistaVoucher) Webservice: https://api.vista.co.nz/WSVistaVoucher/

For Chinese integration we have a separate test environment:
中国第三方可以使用以下的测试环境：
Web Client Webservice: http://180.167.19.17/WSVistaWebClient/
Loyalty member test accounts

Value Flicks Scheme Club
username: daves
password: vista12

username: brucew
password: vista12

Several Recognitions have been setup for members, including:

Free ticket for 100 points
This is available to any Loyalty membership with at least 100 points.
It uses a recognition ticket called 'Loyalty Free Ticket' with a HO Code of 'LOYALV001' and a cinema code of '2641'.
There is no limit on how many of these tickets a member can get.

Loyalty Discounted Ticket
This is available to all Loyalty memberships and gets members into any movie for $8.50
It uses a recognition ticket called 'Loyalty Discount A' with a HO Code of 'LOYALV008' and a cinema code of '2716'.
The member should only be able to take 1 of these per transaction.

Movie of the Week
This is available to all Loyalty memberships and provides a $8.00 for any "Godzilla" movie.
It uses a recognition ticket called 'Movie of the Week' with a HO Code of '1414' and a cinema code of '2740'.
The member should only be able to take 2 of these per transaction.

Frozen Coke - Small for 50 points
This is available to any Loyalty membership with at least 50 points.
It uses a recognition item called 'Frozen Coke - Small' with a HO Code of 'POST019' and a cinema code of '1199'.
There is no limit on how many of these a member can get.

A third test membership has been set up that is expired and offers 3 different recognitions for renewal:
username: jillg
password: vista12

Valid Vouchers

Here is a list of Valid Voucher Numbers. They can only be redeemed once. If you try to redeem again you should get an error. Please limit your usage of them:

Adult Gift Voucher with Expiry date 31/10/2025 and PIN is 9999 (TypeID = 6)
V05050130321 - V05050130620

Child Gift Voucher
V05060053752 - V05060053850

Adult Movie Money with Expiry date 1/1/3001 (TypeID = 3)
V05020624342 - V05020624364
V05021209132 - V05021209231

$10 Gift Voucher with Expiry date 1/1/2050 (TypeID = 72)
V00200010911 - V00200011010

Festival 10 Pass (multi-use vouchers)
V04000001002 - V04000001999
V04000010911 - V04000011020

Gift Card with Expiry date 31/12/2023 (TypeID = 76)
600010000202 - 600010000208 have been sold (issued) and have a balance
600010000209 - 600010000301 have not been sold. They will require selling before they can be used for payment

Loyalty Integrated Gift Cards:
8000082240790756
8000028407274597
8000096599935424
8000026563614853
8000015930052053
8000034224863331
8000014919036997
8000082557132659
8000050479293149
8000004438851182

GetMemberId: "Id"
TransferMember: "member/transfer"
GetNextCardNumber: "nextcard"
SetMembershipActivated: "member/activate"
PointsTransaction: "member/transaction"
ReplaceCard: "member/replacecard"
GetMemberItemList: "member/items"
ValidateMember: "member/validate"
SetMemberToActivateOnComplete: "member/activateoncomplete"
GetMember: "member"
UpdateMember: "member/update"
CreateMember: "member/create"
DeleteMember: "member/delete"
LogOffMember: "member/logoff"
SignOutMember: "member/signout"
GetWebAccountActivationCode: "member/webaccountactivationcode"
ActivateWebAccount: "member/activatewebaccount"
SendActivationCode: "member/sendactivationcode"
InitiatePasswordReset: "member/initiatepasswordreset"
ValidatePasswordResetCode: "member/validatepasswordresetcode"
CompletePasswordReset: "member/completepasswordreset"
SendUsernameReminder: "member/sendusernamereminder"
GetMemberTransactionHistory: "member/transactions"
GetMemberMessageList: "member/messages"
SetEmailChangeForVerification: "member/emailchange"
VerifyEmailChange: "member/verifyemailchange"
MessageResponse: "member/messages/respond"
SendMovieFeedback: "member/sendmoviefeedback"
GetManualRewardsForMember: "member/manualrewards/list"
GetManualReward: "member/manualrewards/get"
PurchaseManualReward: "member/manualrewards/purchase"]]></markdownContent>
    </markdownPageSingle>
    <newsFeed id="1110" key="fa0c1b8a-2452-471f-8864-907a56453c03" parentID="1057" level="2" creatorID="0" sortOrder="4" createDate="2017-10-10T21:59:19" updateDate="2017-10-10T22:00:47" nodeName="News" urlName="news" path="-1,1057,1110" isDoc="" nodeType="1109" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="0" nodeTypeAlias="newsFeed">
      <newsItem id="1111" key="4f0fb5f3-cddc-419b-a86d-0ffdcd4928ac" parentID="1110" level="3" creatorID="0" sortOrder="0" createDate="2017-10-10T21:59:55" updateDate="2017-10-10T21:59:55" nodeName="The Vista Connect documentation has been Swaggerified in Connect 4.5.7" urlName="the-vista-connect-documentation-has-been-swaggerified-in-connect-457" path="-1,1057,1110,1111" isDoc="" nodeType="1108" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="0" nodeTypeAlias="newsItem">
        <content><![CDATA[The new Connect Swagger documentation is now available here on our API site for the REST services.
These will also be available for your local environment as part of the Connect 4.5.7 installs.
Please ensure PublishMetadata = "Y" in your WSVistaWebClient.ini

For older installs, the previous "SandCastle" documentation is still available on this site.]]></content>
        <title><![CDATA[The Vista Connect documentation has been Swaggerified in Connect 4.5.7]]></title>
      </newsItem>
      <newsItem id="1112" key="4ba82330-7f66-4655-9c18-3af3d59d2792" parentID="1110" level="3" creatorID="0" sortOrder="1" createDate="2017-10-10T22:00:20" updateDate="2017-10-10T22:00:42" nodeName="SOAP services to be removed from Vista Connect" urlName="soap-services-to-be-removed-from-vista-connect" path="-1,1057,1110,1112" isDoc="" nodeType="1108" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="0" nodeTypeAlias="newsItem">
        <content><![CDATA[From release 4.5.8 Preview 1 (due late April 2017), except for Priority 1 (system down) bugs, Vista will no longer 
maintain the SOAP services in Vista Connect. The SOAP services will then be removed altogether in versions released 
from the fourth quarter of 2017. This is part of a plan to simplify Vista Connect and stay at the forefront of web-service 
technology.

What does this mean for my cinema? 
Third parties whose applications integrate with your Vista system through Vista Connect will need to change all SOAP 
calls to REST. They will also need to move their data-related calls from the DataService to the OData service. 
Please contact your account manager for advice about this. 

What do I need to do? 
Act soon! Identify the third-party applications that are integrated with your system through Vista Connect, and have 
their developers update them to use REST calls instead of SOAP. For most development companies, this will be a 
simple change, but we recommend allowing plenty of time. 

Note: We no longer support direct integration with the Web Client DLL. ]]></content>
        <title><![CDATA[SOAP services to be removed from Vista Connect]]></title>
      </newsItem>
      <newsItem id="1113" key="f08dab6f-fdf8-4e33-ad03-c418bb866c39" parentID="1110" level="3" creatorID="0" sortOrder="2" createDate="2017-10-10T22:27:15" updateDate="2017-10-10T22:27:15" nodeName="API Site Gets Overhaul" urlName="api-site-gets-overhaul" path="-1,1057,1110,1113" isDoc="" nodeType="1108" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="0" nodeTypeAlias="newsItem">
        <content><![CDATA[The API site was rewritten using a proper CMS and it is "pretty sweet", says Umbraco apologist.]]></content>
        <title><![CDATA[API Site Gets Overhaul]]></title>
      </newsItem>
    </newsFeed>
  </siteHome>
  <siteHome id="1058" key="0a2b7758-08f9-4407-b1db-6018a6556af0" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-10-07T22:50:11" updateDate="2017-10-07T22:50:11" nodeName="docs.vista.co/fr" urlName="docsvistacofr" path="-1,1058" isDoc="" nodeType="1056" creatorName="Robert Hughes" writerName="Robert Hughes" writerID="0" template="1055" nodeTypeAlias="siteHome" />
</root>